<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">What projects I worked?</h1>
    <div style="padding-top: 20px;">
      <table>
          <tr>
              <td><img src="../img/project1.png" height="100px" width="170"></td>
              <td style="padding-left: 20px;">
                  <strong>Make a table</strong><br>
                  Created a table using HTML and CSS.
                  <br>
                  Role: Web Develop
              </td>
          </tr>
          <tr>
              <td><img src="../img/project2.png" height="100px" width="170"></td>
              <td style="padding-left: 20px;">
                  <strong>TaemAri Catchy</strong><br>
                  Created a bug smasher browser-based game using HTML, CSS, and JavaScript with HTML5 canvas.
                  <br>
                  Role: Web Develop
              </td>
          </tr>
          <tr>
              <td><img src="../img/project3.png" height="100px" width="170"></td>
              <td style="padding-left: 20px;">
                  <strong>Awesome LapDe</strong><br>
                  Designed, documented and implemented the tool that lets the OS wake up in case of any ptogramming bug and kills the program.
                  <br>
                  Role: Design, Documentation, Implentation
              </td>
          </tr>
      </table>
  </div>
    </div>
    </main>
    <!--bottom nav-->

   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>